
/* Header and social links */
h1 {
  margin: 0.69em 0;
}
.header {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
  display: block;
}
span.first {
  letter-spacing: 6px;
}
.header .me a, .header .me a:visited {
  color: #555;
  text-decoration: none;
  font-size: 1.6em;
  font-weight: 100;
}
.header .me a:hover {
  opacity: 0.7;
}

#social a:link, #social a:visited {
  color: #555;
  margin: 5px;
  opacity: 0.6;
  font-size: 1.8em;

}
#social a:hover {
  opacity: 1;
}

@media (min-width: 48em) {
  .header .me {
    font-size: 3em;
  }
}
@media (min-width: 64em) {
  .header .me {
    font-size: 3.6em;
  }
  h1 {
    font-size: 2.6em;
  }
}

/* Sticky footer */

* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -30px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 30px; /* .push must be the same height as .footer */
}
.footer {
  margin-top: 30px;
  font-weight: 300;
  text-align: center;
  display: block;
  font-size: 13px;
  color: #555;
}
.footer a {
  color: #555;
  text-decoration: underline;
}

/* Projects showcase */

.section {
	width: 260px;
}

@media screen and (min-width: 600px) {
	.section {
		width: 515px;
	}
}

@media screen and (min-width: 820px) {
	.section {
		width: 775px;
	}
}

.section {
	  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	  display: -ms-flexbox;      /* TWEENER - IE 10 */
	  display: -webkit-flex;     /* NEW - Chrome */
	  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	  flex-wrap: wrap;
	  justify-content: flex-start;
	  margin-left: auto;
	  margin-right: auto;
    margin-top: 6px;
  	margin-bottom: 6px;
}

.item {
	margin: 3px;
	box-sizing: border-box;
	font-weight: normal;
	width: 250px;
	height: 250px;
	position: relative;
	background-size: cover;
	display: block;
	text-decoration: none;
	color: inherit;
}

.item:before {
	opacity: 0;
	transition: opacity 0.15s ease-in-out;
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: black;
}
.item:hover:before {
	opacity: 0.7;
}

.item p {
	transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
	transform: translate(0px, 20px);
	opacity: 0;
	z-index: 11;
	color: white;
	position: absolute;
	left: 7px;
	top: 7px;
	right: 7px;
	bottom: 7px;
	margin: 0;
	font-weight: bold;
	font-size: small;
}
.item:hover p {
	opacity: 1;
	transform: translate(0);
}

.item h1 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 6px;
	font-size: small;
	text-align: left;
	text-transform: uppercase;
	color: white;
	z-index: 12;
}

.light-tile h1 {
	background-color: rgba(20,20,20,0.6);
}

/* About view */

h2 {
  color: #555;
  font-size:2.2em
}
.about {
    *zoom: 1;
    _width: 50em;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 45em;
    overflow: hidden;
}
.about:after {
    content: "";
    display: table;
    clear: both
}
.lead {
    border-bottom: solid 1px #ddd;
    line-height: 1.4em;
    font-size: 1.2em;
    margin-bottom: 2em;
    padding-bottom: 2em
}
.lead a {
  color: #555;
  font-weight: 600;
  text-decoration: none
}
.lead a:hover {
  color: #000;
}
.lead p {
    margin-bottom: 0
}
